<div class="content">
  <div class="calculator">
    <form>
      <div class="display">
        <p></p>
      </div>
      <div class="button-group">
        <div>
          <button (click)="set('1')">1</button>
          <button (click)="set('2')">2</button>
          <button (click)="set('3')">3</button>
          <button>+</button>
        </div>
        <div>
          <button (click)="set('4')">4</button>
          <button (click)="set('5')">5</button>
          <button (click)="set('6')">6</button>
          <button>-</button>
        </div>
        <div>
          <button (click)="set('7')">7</button>
          <button (click)="set('8')">8</button>
          <button (click)="set('9')">9</button>
          <button>*</button>
        </div>
        <div>
          <button>Ce</button>
          <button (click)="set('0')">0</button>
          <button>=</button>
          <button>/</button>
        </div>
        <div>
          <button>^</button>
          <button>!</button>
          <button>√</button>
          <button (click)="set('.')">,</button>
        </div>
      </div>
    </form>
  </div>
</div>

<p>text: {{text}} - num1: {{num1}}</p>
